body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #000000 , #c474b3 );
}
.container {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    width: 550px;
    height: 500px;
    box-shadow: 0px, 0px, 10px, rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: neonGlow 1s infinite alternate;
    margin: 50px; /* Added for spacing */
}
@keyframes neonGlow {
    from {
        box-shadow: 0px 0px 10px rgba(0, 0, 0,0.2);
    }
    to {
        box-shadow: 0px 0px 20px #332d50, 0px 0px 30px #cec8ec, 0px 0px 20px #352292;
    }
}
h1 {
    color: aqua;
    font-size: 36px;
    margin-bottom: 20px;
}
textarea {
    width: 100%; /* Modified to occupy full width */
    max-width: 500px; /* Added max-width */
    height: 350px;
    margin: 10px auto;
    display: block;
    font-size: 24px;
    padding: 20px;
    color: rgb(0,0,0);
    border: 1px solid #dddddd;
    border-radius: 5px;
    resize: none;
    animation: slideIn 1s ease;
}
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
button {
    color: #ffffff;
    padding: 15px 30px;
    width: 100%; /* Modified to occupy full width */
    max-width: 500px; /* Added max-width */
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px; /* Added for spacing */
}
button:hover {
    background-color: #1e7c7c;
}
#result {
    font-size: 20px;
    margin-top: 20px;
    color: #ffffff;
    animation: neonGlow 1s infinite alternate;
}